/*
 * Copyright (c) 2021 Blue Clover Devices
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 // #include <st/h7/stm32h753Xi.dtsi>
 // #include <st/h7/stm32h753zitx-pinctrl.dtsi>
 
 / {
     chosen {
         zephyr,console = &usart6;
         zephyr,shell-uart = &usart6;
     };
 
     leds {
         compatible = "gpio-leds";
         green_led: led_0 {
             gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
             label = "User LD1";
         };
         yellow_led: led_1 {
             gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
             label = "User LD2";
         };
         red_led: led_2 {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
            label = "User LD3";
        };
     };

     aliases {
		led0 = &green_led;
		led1 = &yellow_led;
        led2 = &red_led;
		sw0 = &user_button;
	};
 };

 &usart3 {
     pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
     pinctrl-names = "default";
     current-speed = <115200>;
     status = "okay";

     modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
		// de-gpios = I HAVE NO INFORMATION ABOUT DATA ENABLE PIN!!!
	};
 };

 &usart6 {
    pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};
 